In [55]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
url = 'https://www.w3schools.com/html/html_table_sizes.asp'
response = requests.get(url)

In [56]:
response

In [73]:
soup = BeautifulSoup(response.content, 'html.parser')
headings = soup.find_all('h2')
headlist=[x.text for x in headings]
print(headlist)

['Tutorials', 'Exercises', 'Certificates', 'All Our Services', 'HTML Tutorial', 'HTML Forms', 'HTML Graphics', 'HTML Media', 'HTML APIs', 'HTML Examples', 'HTML References', 'HTML Table Width', 'HTML Table Column Width', 'HTML Table Row Height', 'Contact Sales', 'Report Error']

In [78]:
df=pd.DataFrame(headlist,columns=['Headings'])
df.to_csv('newdata.csv', index=False)
df

                   Headings
0                 Tutorials
1                 Exercises
2              Certificates
3          All Our Services
4             HTML Tutorial
5                HTML Forms
6             HTML Graphics
7                HTML Media
8                 HTML APIs
9             HTML Examples
10          HTML References
11         HTML Table Width
12  HTML Table Column Width
13    HTML Table Row Height
14            Contact Sales
15             Report Error